# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# IDEs
.vscode/
.cursor/
.claude/
.zed/
.agent/

# Flutter/Dart/Pub related
**/*.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
